.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(
      135deg,
      #0f172a,
      #1e293b,
      #0f172a
    );
  padding: 20px;
}

.auth-card {
  width: 100%;
  max-width: 450px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(255,255,255,0.1);

  border-radius: 20px;
  padding: 35px;

  box-shadow:
    0 15px 40px rgba(0,0,0,0.25);

  text-align: center;
}

.auth-card h2 {
  color: white;
  font-weight: 700;
  margin-bottom: 8px;
}

.auth-card p {
  color: #cbd5e1;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 14px;

  margin-bottom: 14px;

  border: 1px solid rgba(255,255,255,0.15);

  background: rgba(255,255,255,0.08);

  color: white;

  border-radius: 12px;

  outline: none;

  transition: all 0.3s ease;
}

.auth-card input::placeholder {
  color: #cbd5e1;
}

.auth-card input:focus {
  border-color: #00d4ff;
  box-shadow: 0 0 12px rgba(0,212,255,0.4);
}

.primary-btn {
  width: 100%;
  border: none;

  padding: 14px;

  border-radius: 12px;

  background: #00d4ff;

  color: #000;

  font-weight: 700;

  cursor: pointer;

  transition: all 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-2px);
}

.google-btn,
.facebook-btn,
.apple-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;

  border-radius: 12px;

  background: rgba(255,255,255,0.08);

  border: 1px solid rgba(255,255,255,0.12);

  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.google-btn:hover,
.facebook-btn:hover,
.apple-btn:hover {
  background: rgba(255,255,255,0.12);
}

.divider {
  color: #cbd5e1;
  margin: 18px 0;
}

.switch {
  margin-top: 16px;
  color: #cbd5e1;
}

.switch a {
  color: #00d4ff;
  text-decoration: none;
  font-weight: 600;
}

.switch a:hover {
  text-decoration: underline;
}
